NET "ttl" LOC=H12 | IOSTANDARD=LVTTL; # ttl:0
NET "ttl_1" LOC=G13 | IOSTANDARD=LVTTL; # ttl:1
NET "ttl_2" LOC=J13 | IOSTANDARD=LVTTL; # ttl:2
NET "ttl_3" LOC=H13 | IOSTANDARD=LVTTL; # ttl:3
NET "ttl_4" LOC=H14 | IOSTANDARD=LVTTL; # ttl:4
NET "ttl_5" LOC=F14 | IOSTANDARD=LVTTL; # ttl:5
NET "clk50" LOC=H17 | IOSTANDARD=LVTTL; # clk50:0


NET "clk50" TNM_NET = "PRDclk50";
TIMESPEC "TSclk50" = PERIOD "PRDclk50" 20 ns HIGH 50%;
